
<section class="posts">
    <select id="ordenamiento" (change)="onSortChange($event)">
        <option value="date" [selected]="sortBy === 'date'">Fecha</option>
        <option value="likes" [selected]="sortBy === 'likes'">Likes</option>
    </select>
    @for (post of posts; track $index) {
        <app-publicacion [post]="post" [userId]="userId"></app-publicacion>
    }
    @if (posts.length < total) {
        <button (click)="loadPosts()">
            Cargar más
        </button>
    }
</section>
