<div class="post-card">
  <div class="post-header">
    <img
    class="avatar"
    [src]="URL + post.autor.imagenPerfil || URL + '/uploads/default-avatar.png'"
    alt="Avatar del autor"
    />
    <div class="post-info">
        <span class="nombre-usuario">{{ post.autor.nombre }} {{ post.autor.apellido }}</span>
        <span class="username">&#64;{{ post.autor.username }}</span>
        <span class="fecha">{{ post.createdAt | date: 'short' }}</span>
    </div>
</div>
  <h5 class="post-titulo">{{ post.titulo }}</h5>
  <p class="post-descripcion">{{ post.descripcion }}</p>
  
  
  <img [src]="URL + post.imagenUrl" alt="Imagen del post" class="post-imagen"/>
  

  <div class="button-group">
    <button [routerLink]="['/posts', post._id]">Ver detalles</button>
    @if (!post.likes.includes(userId)) {
      <button (click)="onLike()">👍 Dar Like ({{ this.post.likes.length }})</button>
    } @else {
      <button (click)="onUnlike()">👍 Quitar Like ({{ this.post.likes.length }})</button>
    }
  </div>

  @if (isAdmin) {
    <button class="baja" (click)="bajarPublicacion()"> Dar de baja </button>
  }

  <div class="comentarios">
  
    @for (comentario of comentarios; track $index) {
    <div class="comentario">
      <div class="comentario-header">
        <div class="comentario-info">
          <p class="nombre-usuario">{{ comentario.autor?.nombre }} {{ comentario.autor?.apellido }}</p>
          <p class="username">&#64;{{ comentario.autor?.username }}</p>
        </div>
          <p class="fecha">{{ comentario.createdAt | date: 'short' }}</p>
        
      </div>
      
      <div class="comentario-texto">
        {{ comentario.texto }}
      </div>

      @if(comentario.imagenUrl) {
          <small class="modificado"> <i> imagen </i> </small>
         } 

      @if(comentario.modificado) {
      <small class="modificado"> editado </small>
      }
  
    </div>
    }
  </div>
</div>
