<section>
  @if (user) {
    <div class="perfil-container">
      <img [src]="URL + user.imagenPerfil" alt="Foto de perfil" class="foto-perfil" />
      <h2>&#64;{{ user.username }} </h2> 
      
      
      <p><strong>{{ user.nombre }} {{ user.apellido }}</strong> </p>
      <span class="fecha"> <i>usuario desde el {{ user.createdAt | date: 'shortDate' }} </i> </span>
      <p class="descripcion">{{ user.descripcion }}</p>

      <div>
        
      </div>
      
      @if (publicaciones.length > 0) {
        <h3>Últimas publicaciones</h3>
        @for (post of publicaciones; track $index) {
          <app-publicacion [post]="post" [userId]="userId"></app-publicacion>
          }
      } @else {
        <h4> El usuario no tiene publicaciones.</h4>
      } 
    </div>
  } @else {
    <div>
      <p>Cargando datos del usuario...</p>
    </div>
  }
</section>
