<div class="container">
    <h2> Iniciar sesión </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="field">
            <label for="email">mail</label>
            <input type="email" name="email" id="email" formControlName="email" placeholder="tumail@mail.com">
        

            @if (loginForm.controls.email.invalid && 
            loginForm.controls.email.touched) {
                @if(loginForm.controls.email.errors?.['required']) {
                    <small> El mail es requerido. </small>
                } @else if (loginForm.controls.email.errors?.['email']) {
                    <small> Debe ingresar un mail válido. </small>
                }
            }

        </div>

        <div class="field">
            <label for="password">contraseña</label>
            <input type="password" name="password" id="password" formControlName="password" placeholder="********">
            
            @if (loginForm.controls.password.invalid && 
            (loginForm.controls.password.touched || 
            loginForm.controls.password.dirty)) {
                @if(loginForm.controls.password.errors?.['required']) {
                    <small> La contraseña es requerida. </small>
                }
            }
        </div>

        <input type="submit" value="Iniciar sesion">

        <a routerLink="/registro" routerLinkActive="active">Crear una cuenta</a>
    </form>
</div>